#map {
    height:80vh;
}

#map-container {
    position: relative;
}

#search-container {
    top:10px;
    left: 50px;
    padding: 10px;
    z-index: 500;
    min-width: 250px;
    max-width: 250px;
    display:none;
}

#search-results {
    max-height: 200px;
    overflow-y: scroll;
}

#toggleSearchBtn {
    position: absolute;
    top:10px;
    left: 50px;
    z-index: 1000;
}

@media screen and (min-width: 767px) {
    #search-container {
        position: absolute;
        display: flex;
        top:10px;
        left: 50px;
        min-width: 300px;
        max-width: 400px;
    }

    #toggleSearchBtn {
        display:none;
    }
}

/* @media screen and (min-width: ){

} */